html {
  position: relative;
  min-height: 100%;
}
body {
  background: url('https://wiimg-wildernessinquir.netdna-ssl.com/web/23295_web.jpg') no-repeat top center fixed;
  background-size: cover;
  min-height:100vh;
  font-family: 'Quicksand', sans-serif;
}
.container {
  background-color: #FDF3E7;
  padding: 4em 4em 2em 4em;
  border-radius: 10px;
  margin-bottom: 8em;
  width: 90%;
}
nav > .container-fluid {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  padding: .5em 4em;
  background-color: #FDF3E7;
}
.navbar-brand {
  color: #C63D0F;
  font-size: 2em;
}
.navbar-nav > li > a {
  border-radius: 5px;
}
.navbar-nav > li > a:visited {
  background-color: #EDE3D7;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  background-color: #DDD3C7;
}
.footer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}
hr {
  border-color: #7E8F7C;
  margin: 20px 0;
}
.shoutout {
  margin-top: 25px;
}
.img-rounded {
  border-radius: 5px;
}
.title {
  margin-top: 0;
}
p {
  font-size: 1.15em;
}
a {
  color: black;
}
.day {
  padding: 15px;
  border-radius: 5px;
}
.day:hover {
  background-color: #DDD3C7;
}
.photo-tile {
  border-radius: 5px;
  height: 150px;
}
.photo-tile-container {
  padding: 5px 5px 5px 20px;
}
