<div class="row">
  <img src="assets/pic.jpg" class="img-rounded img-responsive col-xs-4"/>
  <div class="col-xs-8">
    <h3 class="title">OT, Artist, Adventurer</h3>
    <br>
    <p>Welcome to my blog!</p>
    <p>My name is Connie - I'm a home care Occupational Therapist in the DC area. When not giving 100% to help my patients, you can find me at home with my husband of 25+ years and our six (SIX!) dogs.</p>
    <p>This blog is to track our recent trip to Africa - I hope you enjoy!</p><br>
  </div>
</div>
<br>
