<div class="container-fluid">
  {{nav-bar}}
  <div class="container">
    {{outlet}}
  </div>
</div>
<div class="footer text-center">
  <h4 class="shoutout"><small>Created by smulloy</small></h4>
</div>
